.bug-filter-container{

    background-color: var(--clr2bg);
    padding: 20px;
    margin: 20px 0;
    color: var(--gray1);
}

.bug-filter {
    border: 1px solid darkgray;

}

.bug-filter form {
    display: flex;
	align-items: center;
	justify-content: space-between;
}